GOHIGHLEVEL_API_KEY=
GOHIGHLEVEL_LOCATION_ID=

FACEBOOK_ACCESS_TOKEN=
FACEBOOK_PIXEL_ID=
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=

NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX

# NEXT_PUBLIC_SITE_URL=https://step1.denali-health.com
# NEXT_PUBLIC_GA_ID=
# NEXT_PUBLIC_THANK_YOU_URL=
